.user_management_container{
width: 80%;
margin: auto;
}

.user_management_container input[type="text"]{
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border-width: 1px;
    /* box-shadow: 0 0 10px gray; */
}