
.gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiBox-root {
    
    margin-bottom: 27px !important;
}
  

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    width: 425px !important;
}
/* .css-1lwbda4-MuiStack-root{
    margin-top: 15px !important;
} */
